#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.post {
  margin: 1em;
  border: 1px black solid
}

#navbar {
  display: flex;
  justify-content: space-between;
}

a {
  margin-right: 1em;
}
